autenticacao-service/
cliente-service/
email-service/
estoque-service/
fatura-service/
financeiro-service/
mdfe-service/
nfe-service/
notificacao-service/
ordem-service/
relatorio-service/
roadmap-service/
tarefa-service/
whatsapp-service/
wiki-service/
backup-service/